/* GLOBALS */

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  background-color: var(--background, hsl(216, 12%, 8%));
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

/* GROUP STYLING */

img.star-icon,
.number {
  background-color: var(--circle-color, hsl(216, 12%, 54%));
}

.question,
.submit-btn,
.thank-you-title {
  color: var(--titles-color, hsl(0, 0%, 100%));
}

.paragraph,
.number,
.thank-you-paragraph {
  color: var(--text-color, hsl(217, 12%, 63%));
}

/* SINGLE ELEMENT STYLING */

.rating-box {
  max-width: 85%;
  min-height: 45%;
  background-color: var(--rating-box-color, hsl(213, 19%, 18%));
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.star-icon {
  height: 4rem;
  width: 4rem;
  padding: 1.2rem;
  border-radius: 50%;
}

h1.question {
  font-weight: 700;
}

div.rate-numbers {
  display: flex;
  justify-content: space-between;
}

.number {
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  font-weight: 700;
}

.submit-btn {
  border: none;
  padding: 1.5rem;
  border-radius: 5rem;
  background-color: var(--submit-btn, hsl(25, 97%, 53%));
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.active-number {
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--submit-btn, hsl(25, 97%, 53%));
  color: var(--titles-color, hsl(0, 0%, 100%));
}

/* THANK YOU MESSAGE BOX */

main.thank-you-message-box {
  width: 85%;
  height: 45%;
  background-color: var(--rating-box-color, hsl(213, 19%, 18%));
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobile-phone-icon {
  width: 18rem;
}

.x-out-of-5-rate {
  background-color: var(--circle-color, hsl(214, 19%, 25%));
  color: var(--submit-btn, hsl(25, 97%, 53%));
  padding: 0.8rem 1.5rem;
  border-radius: 2.5rem;
}

.mobile-phone-icon,
.x-out-of-5-rate,
.thank-you-title {
  align-self: center;
}

.thank-you-paragraph {
  text-align: center;
  line-height: 2.5rem;
}

/* MEDIA QUERIES */

@media (hover: hover) {
  button.number:hover {
    transition: 0.2s ease-in-out;
    color: var(--titles-color, hsl(0, 0%, 100%));
    background-color: var(--text-color, hsl(217, 12%, 63%));
  }

  button.submit-btn:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--titles-color, hsl(0, 0%, 100%));
    color: var(--submit-btn, hsl(25, 97%, 53%));
  }
}

/* ATTRIBUITION */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
