:root {
  --submit-btn: hsl(25, 97%, 53%);
  --titles-color: hsl(0, 0%, 100%);
  --background: hsl(216, 12%, 8%);
  --rating-box-color: hsl(213, 19%, 18%);
  --circle-color: hsl(214, 19%, 25%);
  --text-color: hsl(217, 12%, 63%);
}